In [1]:
#importing necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [4]:
#loading the dataset
anime_data = pd.read_csv('anime.csv')

In [5]:
anime_data.head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [6]:
#creating the function to remove the characters
import re
def clean_up(s):
  new_s = re.sub(r"[^\sa-zA-Z0-9\.\,\;]","",str(s))
  return new_s

In [7]:
anime_data['name'] = anime_data['name'].apply(clean_up)
anime_data['genre'] = anime_data['genre'].apply(clean_up)

In [8]:
anime_data.shape

(12294, 7)

In [9]:
#checking the data type f each column
anime_data.dtypes

anime_id      int64
name         object
genre        object
type         object
episodes     object
rating      float64
members       int64
dtype: object

In [10]:
#checking for null values
anime_data.isnull().sum()

anime_id      0
name          0
genre         0
type         25
episodes      0
rating      230
members       0
dtype: int64

In [11]:
# creating a function to split the values in the genre and producer column
def split_column(x):
  return x.split(', ')

In [13]:
anime_data['genre'] = anime_data['genre'].apply(split_column)

In [14]:
anime_data.head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"[Drama, Romance, School, Supernatural]",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist Brotherhood,"[Action, Adventure, Drama, Fantasy, Magic, Mil...",TV,64,9.26,793665
2,28977,Gintama,"[Action, Comedy, Historical, Parody, Samurai, ...",TV,51,9.25,114262
3,9253,Steins;Gate,"[SciFi, Thriller]",TV,24,9.17,673572
4,9969,Gintama039;,"[Action, Comedy, Historical, Parody, Samurai, ...",TV,51,9.16,151266

In [15]:
#to remove the space between any value and , in the list
def remove_space(x):
    return re.sub(" ","",str(x))

In [16]:
anime_data['genre'] = anime_data['genre'].apply(remove_space)

In [17]:
anime_data.head(2)

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"['Drama','Romance','School','Supernatural']",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist Brotherhood,"['Action','Adventure','Drama','Fantasy','Magic...",TV,64,9.26,793665

In [18]:
#removing genre that contains hentai 
def remove(x):
    if 'Hentai' in x:
        pass
    else:
        return x

In [19]:
anime_data['genre'] = anime_data['genre'].apply(remove)

In [21]:
#checking for null values left after removing hentai
anime_data['genre'].isnull().sum()

1141

In [23]:
#dropping the null columns
anime_data.dropna(subset = ['genre'], how = 'all', inplace = True)

In [24]:
anime_data.head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"['Drama','Romance','School','Supernatural']",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist Brotherhood,"['Action','Adventure','Drama','Fantasy','Magic...",TV,64,9.26,793665
2,28977,Gintama,"['Action','Comedy','Historical','Parody','Samu...",TV,51,9.25,114262
3,9253,Steins;Gate,"['SciFi','Thriller']",TV,24,9.17,673572
4,9969,Gintama039;,"['Action','Comedy','Historical','Parody','Samu...",TV,51,9.16,151266

In [25]:
anime_data.shape

(11153, 7)

In [26]:
anime_data.isnull().sum()

anime_id      0
name          0
genre         0
type         25
episodes      0
rating      222
members       0
dtype: int64

In [27]:
#converting the new dataframe to csv
anime_data.to_csv(r'C:\Users\JADESOLA\Documents\AI\MadeWithML\Recommendation system\Anime_old_cleaned.csv',index = False)